.lines {
    margin: 10px;
    font-family: monospace;
}

.lines a {
    text-decoration: none;
    color: #004080;
    background: #e0e0e0;
    display: inline-block;
}

.lines a:hover {
    background: #004080;
    color: #ffffff;
}

.indented {
    margin-left: 10px;
}

#goal {
    display: none;
}

textarea {
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    height: 350px;
    padding: 10px;
    resize: none;
}

textarea:focus, textarea:hover, textarea:active {
  outline: 0px !important;
  -webkit-appearance:none;
}

#editButton {
    display: none;
}

#code, #defines {
    display: none;
}
